*.pdf
*.vpp
*.vcd
*.zip
*.out
assignment-files/
.qsys_edit/
db/
*.qpf
*.qsf
*.qsys
*.bak
*.o
/quartus_folder/simulation/
/quartus_folder/analysis/
/quartus_folder/soc_system/
/quartus_folder/hps_isw_handoff/
/quartus_folder/incremental_db/
/quartus_folder/output_files/